body {
  display: flex;
  align-items: center;
  margin: 100px;
}

.left,
.middle,
.right {
  flex: 1;
  height: 75vh;
}

.left,
.right {
  border: 1px solid;
}

.middle {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/*left*/
.left {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.new-todo {
  border-top: 1px solid;
}

/*right*/
.right {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
}

.details,
.edit {
  border-bottom: 1px solid;
}
